@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

.navbar {
  font-size: 1.5rem;
  background-color: bisque;
  padding: 2rem 0;
}

.link {
  color: black;
}

.link:hover {
  color: brown;
}

.auth-container {
  width: 500px;
  height: 300px;
  margin: 4rem auto 0;
  background-color: darkslateblue;
  border-radius: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form-item {
  align-self: center;
  margin: 0.5rem 0;
}

